body
  background-color:  #000720
  font-family: monospace
  margin: 0px
  padding: 0px
  color: #F6FBFE !important
  font-size: 25px
  
.NavBar
  padding: 15px
  display: flex
  justify-content: space-evenly
  background-color: #051039
  user-select: none
  .link
    color: #ffffff
    font-size: 30px
    transition: 200ms
    text-decoration: none
    &:hover
      color: #2841A0

.addDivPage
  display: flex
  flex-direction: column
  align-items: center
  .inputName
    padding: 5px
    margin-top: 20px
    width: 400px
    background-color: #000720
    color: #ffffff
    border: none
    border-radius: 10px
    font-family: monospace
    font-size: 35px
    text-align: center
    outline: none
    &::placeholder
      color: #4054A0
  .addTestDiv
    width: 500px
    padding: 15px
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    border-radius: 10px
    .questionDiv
      display: flex
      .inputQuestion
        padding: 5px
        margin: 10px 0px 10px 10px
        width: 450px
        background-color: #051039
        color: #ffffff
        border: none
        border-radius: 10px 0px 0px 10px
        font-family: monospace
        font-size: 35px
        text-align: center
        outline: none
        &::placeholder
          color: #4054A0
      .delQuestion
        margin: 10px 10px 10px 0px
        height: 51px
        width: 50px
        background-color: #7c1818
        color: #ffffff
        border: none
        border-radius: 0px 10px 10px 0px
        font-family: monospace
        font-size: 35px
        transition: 200ms
        &:hover
          background-color: #c41818
    .answerDiv
      display: flex
      .inputAnswer
        padding: 5px
        margin: 10px 0px 10px 0px
        width: 400px
        background-color: #051039
        color: #ffffff
        border: none
        font-family: monospace
        font-size: 35px
        text-align: center
        outline: none
        &::placeholder
          color: #4054A0
      .delAnswer
        margin: 10px 10px 10px 0px
        height: 51px
        width: 50px
        background-color: #7c1818
        color: #ffffff
        border: none
        border-radius: 0px 10px 10px 0px
        font-family: monospace
        font-size: 35px
        transition: 200ms
        &:hover
          background-color: #c41818
      .trueAnswer
        margin: 10px 0px 10px 10px
        height: 51px
        width: 50px
        background-color: #188f14
        color: #ffffff
        border: none
        border-radius: 10px 0px 0px 10px
        font-family: monospace
        font-size: 35px
        transition: 200ms
        &:hover
          background-color: #1bbe15
      .falseAnswer
        margin: 10px 0px 10px 10px
        height: 51px
        width: 50px
        background-color: #99971a
        color: #ffffff
        border: none
        border-radius: 10px 0px 0px 10px
        font-family: monospace
        font-size: 35px
        transition: 200ms
        &:hover
          background-color: #dbd813
    .divPage
      display: flex
      .buttonPage
        padding: 5px
        margin: 10px
        width: 210px
        background-color: #051039
        color: #ffffff
        border: none
        border-radius: 10px
        font-family: monospace
        font-size: 35px
        transition: 200ms
        &:hover
          color: #4054A0
      .addQuestion
        padding: 5px
        margin: 10px
        height: 50px
        width: 50px
        background-color: #051039
        color: #ffffff
        border: none
        border-radius: 10px
        font-family: monospace
        font-size: 35px
        transition: 200ms
        &:hover
          color: #4054A0
    .button
      padding: 5px
      margin: 10px
      width: 510px
      background-color: #051039
      color: #ffffff
      border: none
      border-radius: 10px
      font-family: monospace
      font-size: 35px
      transition: 200ms
      &:hover
        color: #4054A0
  .errorSpan
    color: #c41818